In [1]:
import pandas 
dd = pandas.read_csv(r"C:\Users\Access\Downloads\EURUSD-2019\EURUSD_Candlestick_1_M_BID_2019-1-1_2024-11-17.csv")
import pandas as pd

# افترض أن الداتا فريم الخاص بك يسمى df
# لاختيار الأعمدة المطلوبة فقط
df = dd[['Gmt time', 'Open', 'High', 'Low', 'Close']]

In [2]:
# تحويل العمود إلى نوع datetime
df['Gmt time'] = pd.to_datetime(df['Gmt time'])

# استخراج الشهور والأيام والساعات والدقائق والثواني
df['Month'] = df['Gmt time'].dt.month
df['Day'] = df['Gmt time'].dt.day
df['Hour'] = df['Gmt time'].dt.hour
df['Minute'] = df['Gmt time'].dt.minute
df['Second'] = df['Gmt time'].dt.second

# عرض النتيجة
print(df)

C:\Users\Access\AppData\Local\Temp\ipykernel_87280\597907146.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gmt time'] = pd.to_datetime(df['Gmt time'])

                   Gmt time     Open     High      Low    Close  Month  Day  \
0       2019-01-01 00:00:00  1.14627  1.14627  1.14627  1.14627      1    1
1       2019-01-01 00:01:00  1.14627  1.14627  1.14627  1.14627      1    1
2       2019-01-01 00:02:00  1.14627  1.14627  1.14627  1.14627      1    1
3       2019-01-01 00:03:00  1.14627  1.14627  1.14627  1.14627      1    1
4       2019-01-01 00:04:00  1.14627  1.14627  1.14627  1.14627      1    1
...                     ...      ...      ...      ...      ...    ...  ...
2127951 2024-11-15 23:55:00  1.05394  1.05394  1.05394  1.05394     11   15
2127952 2024-11-15 23:56:00  1.05394  1.05394  1.05394  1.05394     11   15
2127953 2024-11-15 23:57:00  1.05394  1.05394  1.05394  1.05394     11   15
2127954 2024-11-15 23:58:00  1.05394  1.05394  1.05394  1.05394     11   15
2127955 2024-11-15 23:59:00  1.05394  1.05394  1.05394  1.05394     11   15

         Hour  Minute  Second
0           0       0       0
1           0       1       0
2           0       2       0
3           0       3       0
4           0       4       0
...       ...     ...     ...
2127951    23      55       0
2127952    23      56       0
2127953    23      57       0
2127954    23      58       0
2127955    23      59       0

[2127956 rows x 10 columns]

In [3]:
df

,Gmt time,Open,High,Low,Close,Month,Day,Hour,Minute,Second
0,2019-01-01 00:00:00,1.14627,1.14627,1.14627,1.14627,1,1,0,0,0
1,2019-01-01 00:01:00,1.14627,1.14627,1.14627,1.14627,1,1,0,1,0
2,2019-01-01 00:02:00,1.14627,1.14627,1.14627,1.14627,1,1,0,2,0
3,2019-01-01 00:03:00,1.14627,1.14627,1.14627,1.14627,1,1,0,3,0
4,2019-01-01 00:04:00,1.14627,1.14627,1.14627,1.14627,1,1,0,4,0
...,...,...,...,...,...,...,...,...,...,...
2127951,2024-11-15 23:55:00,1.05394,1.05394,1.05394,1.05394,11,15,23,55,0
2127952,2024-11-15 23:56:00,1.05394,1.05394,1.05394,1.05394,11,15,23,56,0
2127953,2024-11-15 23:57:00,1.05394,1.05394,1.05394,1.05394,11,15,23,57,0
2127954,2024-11-15 23:58:00,1.05394,1.05394,1.05394,1.05394,11,15,23,58,0
2127955,2024-11-15 23:59:00,1.05394,1.05394,1.05394,1.05394,11,15,23,59,0