In [1]:
import pandas as pd

# المسار الخاص بالملف
file_path = r"C:\Users\Access\Downloads\TEST\EURUSD_Ticks_20.09.2024-20.09.2024.csv"

# قراءة البيانات من الملف
df = pd.read_csv(file_path)

In [2]:
df

                      Gmt time      Ask      Bid     AskVolume     BidVolume
0      20.09.2024 00:00:01.124  1.11595  1.11593  9.000000e+05  5.400000e+06
1      20.09.2024 00:00:01.227  1.11596  1.11595  1.890000e+06  1.200000e+05
2      20.09.2024 00:00:01.330  1.11596  1.11595  9.000000e+05  1.200000e+05
3      20.09.2024 00:00:01.382  1.11596  1.11594  9.000000e+05  6.750000e+06
4      20.09.2024 00:00:01.487  1.11597  1.11596  9.000000e+05  2.700000e+06
...                        ...      ...      ...           ...           ...
93745  20.09.2024 20:59:50.322  1.11635  1.11630  9.000000e+05  2.700000e+06
93746  20.09.2024 20:59:56.090  1.11637  1.11630  9.000000e+05  1.800000e+06
93747  20.09.2024 20:59:56.242  1.11637  1.11629  9.000000e+05  1.800000e+06
93748  20.09.2024 20:59:58.102  1.11639  1.11629  1.800000e+06  1.800000e+06
93749  20.09.2024 20:59:58.405  1.11641  1.11626  9.000000e+05  9.000000e+05

[93750 rows x 5 columns]

In [3]:
import pandas as pd

# قراءة البيانات من الملف
data = df

# إنشاء قائمة لتخزين الشموع اليابانية
candles = []

# كل 3 أسطر يتم تحويلها إلى شمعة
for i in range(0, len(data), 3):
    subset = data.iloc[i:i+3]
    
    if len(subset) == 3:
        open_price = subset['Ask'].iloc[0]  # أول سعر
        close_price = subset['Ask'].iloc[2]  # آخر سعر
        high_price = subset['Ask'].max()  # أعلى سعر
        low_price = subset['Ask'].min()  # أقل سعر
        
        open_time = subset['Gmt time'].iloc[0]  # أول وقت
        
        # حساب الفوليوم الإجمالي
        total_volume = subset['AskVolume'].sum() + subset['BidVolume'].sum()
        
        # إضافة الشمعة إلى القائمة
        candles.append({
            'Time': open_time,
            'Open': open_price,
            'High': high_price,
            'Low': low_price,
            'Close': close_price,
            'Volume': total_volume
        })

# تحويل قائمة الشموع إلى DataFrame
candles_df = pd.DataFrame(candles)

# حفظ الشموع في ملف جديد
candles_df.to_csv(r"C:\Users\Access\Downloads\TEST\test.csv", index=False)

In [4]:
df

                      Gmt time      Ask      Bid     AskVolume     BidVolume
0      20.09.2024 00:00:01.124  1.11595  1.11593  9.000000e+05  5.400000e+06
1      20.09.2024 00:00:01.227  1.11596  1.11595  1.890000e+06  1.200000e+05
2      20.09.2024 00:00:01.330  1.11596  1.11595  9.000000e+05  1.200000e+05
3      20.09.2024 00:00:01.382  1.11596  1.11594  9.000000e+05  6.750000e+06
4      20.09.2024 00:00:01.487  1.11597  1.11596  9.000000e+05  2.700000e+06
...                        ...      ...      ...           ...           ...
93745  20.09.2024 20:59:50.322  1.11635  1.11630  9.000000e+05  2.700000e+06
93746  20.09.2024 20:59:56.090  1.11637  1.11630  9.000000e+05  1.800000e+06
93747  20.09.2024 20:59:56.242  1.11637  1.11629  9.000000e+05  1.800000e+06
93748  20.09.2024 20:59:58.102  1.11639  1.11629  1.800000e+06  1.800000e+06
93749  20.09.2024 20:59:58.405  1.11641  1.11626  9.000000e+05  9.000000e+05

[93750 rows x 5 columns]

In [5]:
candles_df

,Time,Open,High,Low,Close,Volume
0,20.09.2024 00:00:01.124,1.11595,1.11596,1.11595,1.11596,9.330000e+06
1,20.09.2024 00:00:01.382,1.11596,1.11602,1.11596,1.11602,2.136000e+07
2,20.09.2024 00:00:01.591,1.11605,1.11605,1.11604,1.11605,1.209000e+07
3,20.09.2024 00:00:04.233,1.11606,1.11606,1.11605,1.11605,9.420000e+06
4,20.09.2024 00:00:05.101,1.11606,1.11607,1.11603,1.11603,1.188000e+07
...,...,...,...,...,...,...
31245,20.09.2024 20:59:30.822,1.11636,1.11636,1.11636,1.11636,9.900000e+06
31246,20.09.2024 20:59:33.341,1.11637,1.11638,1.11636,1.11638,8.100000e+06
31247,20.09.2024 20:59:35.256,1.11636,1.11638,1.11636,1.11636,1.170000e+07
31248,20.09.2024 20:59:43.795,1.11634,1.11637,1.11634,1.11637,9.900000e+06
31249,20.09.2024 20:59:56.242,1.11637,1.11641,1.11637,1.11641,8.100000e+06

In [7]:
from sklearn.preprocessing import MinMaxScaler
df_test=candles_df
# تحديد الأعمدة التي سيتم تطبيعها
columns_to_normalize = ['Open', 'High', 'Low', 'Close', 'Volume']

# نسخ البيانات الأصلية حتى لا تتأثر
df_test_normalized = df_test.copy()

# تعريف الـ Scaler
scaler = MinMaxScaler()

# تطبيق الـ Scaler على الأعمدة المحددة
df_test_normalized[columns_to_normalize] = scaler.fit_transform(df_test[columns_to_normalize])

# عرض البيانات المطبعة
print(df_test_normalized.head())

                      Time      Open      High       Low     Close    Volume
0  20.09.2024 00:00:01.124  0.508734  0.509847  0.509847  0.509847  0.086424
1  20.09.2024 00:00:01.382  0.510917  0.522976  0.512035  0.522976  0.219205
2  20.09.2024 00:00:01.591  0.530568  0.529540  0.529540  0.529540  0.116887
3  20.09.2024 00:00:04.233  0.532751  0.531729  0.531729  0.529540  0.087417
4  20.09.2024 00:00:05.101  0.532751  0.533917  0.527352  0.525164  0.114570

In [8]:
df_test_normalized.to_csv(r'C:\Users\Access\Downloads\nor\test\test.csv', index=False )