In [1]:
import pandas as pd
df_final = pd.read_csv("gold_with_news_sequence_clean.csv")

In [2]:
df_final = df_final[['Gmt time','Open','High','Low','Close']]

In [3]:
df_final.to_csv(r"C:\Users\Access\Documents\AI\gold_heiken_ashi_2020_2025.csv")

In [4]:
import pandas as pd
df= pd.read_csv(r"C:\Users\Access\Documents\AI ROBOT\XAUUSD_Candlestick_1_M_BID_2020-1-1_2024-12-31.csv")
df

                    Gmt time      Open      High       Low     Close  Volume
0        2020-01-01 00:00:00  1516.915  1516.915  1516.915  1516.915     0.0
1        2020-01-01 00:01:00  1516.915  1516.915  1516.915  1516.915     0.0
2        2020-01-01 00:02:00  1516.915  1516.915  1516.915  1516.915     0.0
3        2020-01-01 00:03:00  1516.915  1516.915  1516.915  1516.915     0.0
4        2020-01-01 00:04:00  1516.915  1516.915  1516.915  1516.915     0.0
...                      ...       ...       ...       ...       ...     ...
2373724  2024-12-31 23:55:00  2624.255  2624.255  2624.255  2624.255     0.0
2373725  2024-12-31 23:56:00  2624.255  2624.255  2624.255  2624.255     0.0
2373726  2024-12-31 23:57:00  2624.255  2624.255  2624.255  2624.255     0.0
2373727  2024-12-31 23:58:00  2624.255  2624.255  2624.255  2624.255     0.0
2373728  2024-12-31 23:59:00  2624.255  2624.255  2624.255  2624.255     0.0

[2373729 rows x 6 columns]

In [5]:
df[67998:]

                    Gmt time      Open      High       Low     Close  Volume
67998    2020-02-17 05:18:00  1582.648  1582.675  1582.578  1582.648  0.0114
67999    2020-02-17 05:19:00  1582.648  1582.848  1582.648  1582.785  0.0083
68000    2020-02-17 05:20:00  1582.785  1582.848  1582.765  1582.785  0.0056
68001    2020-02-17 05:21:00  1582.848  1582.948  1582.848  1582.895  0.0074
68002    2020-02-17 05:22:00  1582.898  1582.965  1582.875  1582.875  0.0050
...                      ...       ...       ...       ...       ...     ...
2373724  2024-12-31 23:55:00  2624.255  2624.255  2624.255  2624.255  0.0000
2373725  2024-12-31 23:56:00  2624.255  2624.255  2624.255  2624.255  0.0000
2373726  2024-12-31 23:57:00  2624.255  2624.255  2624.255  2624.255  0.0000
2373727  2024-12-31 23:58:00  2624.255  2624.255  2624.255  2624.255  0.0000
2373728  2024-12-31 23:59:00  2624.255  2624.255  2624.255  2624.255  0.0000

[2305731 rows x 6 columns]