In [27]:
import pandas as pd
import glob

# تحديد مسار الملفات (تغيير المسار إلى المكان الذي يحتوي على ملفاتك)
files = glob.glob(r"C:\Users\Access\Downloads\eurusd_4-9_data\*.csv")

# قراءة جميع الملفات في قائمة واحدة
dataframes = []
for file in files:
    df = pd.read_csv(file)
    dataframes.append(df)

# دمج جميع البيانات في DataFrame واحد
merged_df = pd.concat(dataframes)

# افتراض أن العمود الذي يحتوي على التاريخ اسمه 'Date'، تأكد من تعديل الاسم حسب ملفك
# تعديل تنسيق التاريخ ليتناسب مع بياناتك
merged_df['Gmt time'] = pd.to_datetime(merged_df['Gmt time'], format="%d.%m.%Y %H:%M:%S.%f", errors='coerce')

# حذف الصفوف التي لم يتم تحويلها (إذا كانت موجودة)
merged_df = merged_df.dropna(subset=['Gmt time'])

# ترتيب البيانات حسب التاريخ
sorted_df = merged_df.sort_values(by='Gmt time')

# كتابة البيانات المدمجة والمرتبة إلى ملف Excel جديد
sorted_df.to_csv(r'C:\Users\Access\Downloads\eurusd_data.csv', index=False)

print("تم دمج الملفات وترتيبها بنجاح.")

تم دمج الملفات وترتيبها بنجاح.

In [25]:
data = pd.read_csv(r'C:\Users\Access\Downloads\eurusd_data.csv')

In [26]:
data

Empty DataFrame
Columns: [Gmt time, Open, High, Low, Close, Volume]
Index: []

In [28]:
sorted_df

Empty DataFrame
Columns: [Gmt time, Open, High, Low, Close, Volume]
Index: []

In [32]:
import pandas as pd
import glob
import sqlite3

# تحديد مسار الملفات (تغيير المسار إلى المكان الذي يحتوي على ملفاتك)
files = glob.glob(r"C:\Users\Access\Downloads\eurusd_4-9_data\*.csv")

# إنشاء اتصال بقاعدة بيانات SQLite
conn = sqlite3.connect('merged_data.db')

# قراءة جميع الملفات في قائمة واحدة وإدخالها في قاعدة البيانات
for file in files:
    df = pd.read_csv(file)
    df['Date'] = pd.to_datetime(df['Gmt time'], format="%d.%m.%Y %H:%M:%S.%f", errors='coerce')
    df = df.dropna(subset=['Gmt time'])
    df.to_sql('merged_table', conn, if_exists='append', index=False)

# استعلام البيانات المرتبة
sorted_df = pd.read_sql_query("SELECT * FROM merged_table ORDER BY Date", conn)

# حفظ النتائج إلى CSV
sorted_df.to_csv(r'C:\Users\Access\Downloads\eurusd_data.csv', index=False)

# إغلاق اتصال قاعدة البيانات
conn.close()

print("تم دمج الملفات وترتيبها بنجاح.")

تم دمج الملفات وترتيبها بنجاح.

In [6]:
import pandas as pd

In [33]:
sorted_df

,Gmt time,Open,High,Low,Close,Volume,Date
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,None
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,None
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,None
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,None
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,None
...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,None
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,None
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,None
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,None
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,None

In [7]:
dd = pd.read_csv(r'C:\Users\Access\Downloads\eurusd_data.csv')

In [8]:
dd

,Gmt time,Open,High,Low,Close,Volume,Date
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN
...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,NaN
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,NaN
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,NaN
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN

In [36]:
dd['EMA_10'] = dd['Close'].ewm(span=10, adjust=False).mean()

In [37]:
dd['EMA_20'] = dd['Close'].ewm(span=20, adjust=False).mean()

In [38]:
dd

,Gmt time,Open,High,Low,Close,Volume,Date,EMA_10,EMA_20
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN,1.079320,1.079320
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN,1.079322,1.079321
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN,1.079320,1.079320
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN,1.079316,1.079318
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN,1.079311,1.079315
...,...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,NaN,1.116280,1.116292
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,NaN,1.116260,1.116280
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,NaN,1.116239,1.116267
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN,1.116230,1.116259
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN,1.116222,1.116253

In [2]:
import pandas_ta as ta

In [42]:
dd["ATR_10"] = ta.atr(dd['High'], dd['Low'], dd['Close'], length=10)

In [43]:
dd

,Gmt time,Open,High,Low,Close,Volume,Date,EMA_10,EMA_20,ATR_10
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN,1.079320,1.079320,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN,1.079322,1.079321,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN,1.079320,1.079320,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN,1.079316,1.079318,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN,1.079311,1.079315,NaN
...,...,...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,NaN,1.116280,1.116292,0.000020
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,NaN,1.116260,1.116280,0.000029
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,NaN,1.116239,1.116267,0.000029
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN,1.116230,1.116259,0.000031
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN,1.116222,1.116253,0.000028

In [44]:
dd.Drop("Date")

AttributeError: 'DataFrame' object has no attribute 'Drop'

In [46]:
dd.drop('Date', axis=1)

,Gmt time,Open,High,Low,Close,Volume,EMA_10,EMA_20,ATR_10
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,1.079320,1.079320,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,1.079322,1.079321,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,1.079320,1.079320,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,1.079316,1.079318,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,1.079311,1.079315,NaN
...,...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,1.116280,1.116292,0.000020
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,1.116260,1.116280,0.000029
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,1.116239,1.116267,0.000029
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116230,1.116259,0.000031
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116222,1.116253,0.000028

In [57]:
dd = dd.drop(['Date','EMA_20','EMA_10'], axis=1)

In [58]:
dd

,Gmt time,Open,High,Low,Close,Volume,ATR_10
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN
...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,0.000020
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,0.000029
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,0.000029
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,0.000031
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,0.000028

In [59]:
dd["EMA_10"]=ta.ema(dd.Close, length=10)
dd["EMA_20"]=ta.ema(dd.Close, length=20)
dd["RSI_10"] = ta.rsi(dd.Close, length=10)

In [60]:
dd

,Gmt time,Open,High,Low,Close,Volume,ATR_10,EMA_10,EMA_20,RSI_10
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN,NaN,NaN,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN,NaN,NaN,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN,NaN,NaN,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN,NaN,NaN,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,0.000020,1.116280,1.116292,46.989565
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,0.000029,1.116260,1.116280,28.959480
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,0.000029,1.116239,1.116267,25.942987
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,0.000031,1.116230,1.116259,37.918175
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,0.000028,1.116222,1.116253,37.918175

In [61]:
dd["EMA_40"]=ta.ema(dd.Close, length=40)

In [62]:
dd

,Gmt time,Open,High,Low,Close,Volume,ATR_10,EMA_10,EMA_20,RSI_10,EMA_40
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN,NaN,NaN,NaN,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN,NaN,NaN,NaN,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN,NaN,NaN,NaN,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN,NaN,NaN,NaN,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,0.000020,1.116280,1.116292,46.989565,1.116303
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,0.000029,1.116260,1.116280,28.959480,1.116297
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,0.000029,1.116239,1.116267,25.942987,1.116289
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,0.000031,1.116230,1.116259,37.918175,1.116284
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,0.000028,1.116222,1.116253,37.918175,1.116280

In [65]:
dd = dd[['Gmt time',	'Open',	'High',	'Low',	'Close',	'Volume',	'ATR_10','RSI_10',	'EMA_10',	'EMA_20',	'EMA_40']]

In [12]:
dd

,Gmt time,Open,High,Low,Close,Volume,Date,EMA_100
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN,NaN
...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,NaN,1.116314
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,NaN,1.116312
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,NaN,1.116308
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN,1.116306
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN,1.116304

In [9]:
dd["EMA_100"]=ta.ema(dd.Close, length=100)

In [11]:
dd

,Gmt time,Open,High,Low,Close,Volume,Date,EMA_100
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN,NaN
...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,NaN,1.116314
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,NaN,1.116312
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,NaN,1.116308
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN,1.116306
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN,1.116304

In [13]:
dd["EMA_50"]=ta.ema(dd.Close, length=50)
dd["EMA_21"]=ta.ema(dd.Close, length=21)
dd["EMA_13"]=ta.ema(dd.Close, length=13)
dd["EMA_7"]=ta.ema(dd.Close, length=7)

In [14]:
dd

,Gmt time,Open,High,Low,Close,Volume,Date,EMA_100,EMA_50,EMA_21,EMA_13,EMA_7
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,NaN,1.116314,1.116306,1.116292,1.116284,1.116277
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,NaN,1.116312,1.116301,1.116281,1.116268,1.116250
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,NaN,1.116308,1.116295,1.116268,1.116250,1.116223
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN,1.116306,1.116291,1.116261,1.116241,1.116215
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN,1.116304,1.116287,1.116255,1.116234,1.116208

In [17]:
dd[12:]

,Gmt time,Open,High,Low,Close,Volume,Date,EMA_100,EMA_50,EMA_21,EMA_13,EMA_7
12,2024-04-01 00:00:19.575,1.07934,1.07934,1.07934,1.07934,9.000000e+05,NaN,NaN,NaN,NaN,1.079316,1.079328
13,2024-04-01 00:00:19.680,1.07934,1.07934,1.07934,1.07934,9.000000e+05,NaN,NaN,NaN,NaN,1.079320,1.079331
14,2024-04-01 00:00:19.932,1.07934,1.07934,1.07934,1.07934,9.000000e+05,NaN,NaN,NaN,NaN,1.079322,1.079333
15,2024-04-01 00:00:20.187,1.07933,1.07933,1.07933,1.07933,1.800000e+06,NaN,NaN,NaN,NaN,1.079324,1.079332
16,2024-04-01 00:00:22.362,1.07932,1.07932,1.07932,1.07932,2.250000e+06,NaN,NaN,NaN,NaN,1.079323,1.079329
...,...,...,...,...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,NaN,1.116314,1.116306,1.116292,1.116284,1.116277
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,NaN,1.116312,1.116301,1.116281,1.116268,1.116250
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,NaN,1.116308,1.116295,1.116268,1.116250,1.116223
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN,1.116306,1.116291,1.116261,1.116241,1.116215
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,NaN,1.116304,1.116287,1.116255,1.116234,1.116208

In [21]:
dd = dd.drop(['Date'], axis=1)

In [22]:
dd

,Gmt time,Open,High,Low,Close,Volume,EMA_100,EMA_50,EMA_21,EMA_13,EMA_7
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN,NaN,NaN,NaN,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN,NaN,NaN,NaN,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN,NaN,NaN,NaN,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN,NaN,NaN,NaN,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,1.116314,1.116306,1.116292,1.116284,1.116277
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,1.116312,1.116301,1.116281,1.116268,1.116250
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,1.116308,1.116295,1.116268,1.116250,1.116223
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116306,1.116291,1.116261,1.116241,1.116215
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116304,1.116287,1.116255,1.116234,1.116208

In [23]:
dd["RSI_10"] = ta.rsi(dd.Close, length=10)

In [24]:
dd

,Gmt time,Open,High,Low,Close,Volume,EMA_100,EMA_50,EMA_21,EMA_13,EMA_7,RSI_10
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,1.116314,1.116306,1.116292,1.116284,1.116277,46.989565
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,1.116312,1.116301,1.116281,1.116268,1.116250,28.959480
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,1.116308,1.116295,1.116268,1.116250,1.116223,25.942987
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116306,1.116291,1.116261,1.116241,1.116215,37.918175
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116304,1.116287,1.116255,1.116234,1.116208,37.918175

In [25]:
dd["ATR_10"] = ta.atr(dd['High'], dd['Low'], dd['Close'], length=10)

In [26]:
dd

,Gmt time,Open,High,Low,Close,Volume,EMA_100,EMA_50,EMA_21,EMA_13,EMA_7,RSI_10,ATR_10
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,1.116314,1.116306,1.116292,1.116284,1.116277,46.989565,0.000020
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,1.116312,1.116301,1.116281,1.116268,1.116250,28.959480,0.000029
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,1.116308,1.116295,1.116268,1.116250,1.116223,25.942987,0.000029
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116306,1.116291,1.116261,1.116241,1.116215,37.918175,0.000031
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116304,1.116287,1.116255,1.116234,1.116208,37.918175,0.000028

In [27]:
dd["ATR_30"] = ta.atr(dd['High'], dd['Low'], dd['Close'], length=30)

In [28]:
dd

,Gmt time,Open,High,Low,Close,Volume,EMA_100,EMA_50,EMA_21,EMA_13,EMA_7,RSI_10,ATR_10,ATR_30
0,2024-04-01 00:00:00.243,1.07932,1.07932,1.07932,1.07932,4.500000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-04-01 00:00:00.711,1.07933,1.07933,1.07933,1.07933,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-04-01 00:00:00.813,1.07931,1.07931,1.07931,1.07931,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-04-01 00:00:03.045,1.07930,1.07930,1.07930,1.07930,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-04-01 00:00:07.128,1.07929,1.07929,1.07929,1.07929,9.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,1.116314,1.116306,1.116292,1.116284,1.116277,46.989565,0.000020,0.000022
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,1.116312,1.116301,1.116281,1.116268,1.116250,28.959480,0.000029,0.000025
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,1.116308,1.116295,1.116268,1.116250,1.116223,25.942987,0.000029,0.000025
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116306,1.116291,1.116261,1.116241,1.116215,37.918175,0.000031,0.000026
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116304,1.116287,1.116255,1.116234,1.116208,37.918175,0.000028,0.000025

In [29]:
dd.info

<bound method DataFrame.info of                         Gmt time     Open     High      Low    Close  \
0        2024-04-01 00:00:00.243  1.07932  1.07932  1.07932  1.07932
1        2024-04-01 00:00:00.711  1.07933  1.07933  1.07933  1.07933
2        2024-04-01 00:00:00.813  1.07931  1.07931  1.07931  1.07931
3        2024-04-01 00:00:03.045  1.07930  1.07930  1.07930  1.07930
4        2024-04-01 00:00:07.128  1.07929  1.07929  1.07929  1.07929
...                          ...      ...      ...      ...      ...
9059426  2024-09-27 20:59:58.689  1.11628  1.11628  1.11628  1.11628
9059427  2024-09-27 20:59:58.740  1.11617  1.11617  1.11617  1.11617
9059428  2024-09-27 20:59:58.941  1.11614  1.11614  1.11614  1.11614
9059429  2024-09-27 20:59:59.094  1.11619  1.11619  1.11619  1.11619
9059430  2024-09-27 20:59:59.145  1.11619  1.11619  1.11619  1.11619

               Volume   EMA_100    EMA_50    EMA_21    EMA_13     EMA_7  \
0        4.500000e+05       NaN       NaN       NaN       NaN       NaN
1        9.000000e+05       NaN       NaN       NaN       NaN       NaN
2        9.000000e+05       NaN       NaN       NaN       NaN       NaN
3        9.000000e+05       NaN       NaN       NaN       NaN       NaN
4        9.000000e+05       NaN       NaN       NaN       NaN       NaN
...               ...       ...       ...       ...       ...       ...
9059426  1.800000e+06  1.116314  1.116306  1.116292  1.116284  1.116277
9059427  4.500000e+06  1.116312  1.116301  1.116281  1.116268  1.116250
9059428  9.000000e+05  1.116308  1.116295  1.116268  1.116250  1.116223
9059429  1.800000e+06  1.116306  1.116291  1.116261  1.116241  1.116215
9059430  1.800000e+06  1.116304  1.116287  1.116255  1.116234  1.116208

            RSI_10    ATR_10    ATR_30
0              NaN       NaN       NaN
1              NaN       NaN       NaN
2              NaN       NaN       NaN
3              NaN       NaN       NaN
4              NaN       NaN       NaN
...            ...       ...       ...
9059426  46.989565  0.000020  0.000022
9059427  28.959480  0.000029  0.000025
9059428  25.942987  0.000029  0.000025
9059429  37.918175  0.000031  0.000026
9059430  37.918175  0.000028  0.000025

[9059431 rows x 14 columns]>

In [31]:
dd = dd.dropna()

In [32]:
dd

,Gmt time,Open,High,Low,Close,Volume,EMA_100,EMA_50,EMA_21,EMA_13,EMA_7,RSI_10,ATR_10,ATR_30
99,2024-04-01 00:01:39.471,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079285,1.079343,1.079391,1.079412,1.079429,91.912193,0.000006,0.000008
100,2024-04-01 00:01:40.638,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079288,1.079347,1.079396,1.079416,1.079432,91.912193,0.000005,0.000007
101,2024-04-01 00:01:40.794,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079291,1.079350,1.079400,1.079419,1.079434,91.912193,0.000005,0.000007
102,2024-04-01 00:01:41.199,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079294,1.079354,1.079403,1.079422,1.079435,91.912193,0.000004,0.000007
103,2024-04-01 00:01:42.768,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079297,1.079357,1.079407,1.079425,1.079437,91.912193,0.000004,0.000007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9059426,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,1.116314,1.116306,1.116292,1.116284,1.116277,46.989565,0.000020,0.000022
9059427,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,1.116312,1.116301,1.116281,1.116268,1.116250,28.959480,0.000029,0.000025
9059428,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,1.116308,1.116295,1.116268,1.116250,1.116223,25.942987,0.000029,0.000025
9059429,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116306,1.116291,1.116261,1.116241,1.116215,37.918175,0.000031,0.000026
9059430,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116304,1.116287,1.116255,1.116234,1.116208,37.918175,0.000028,0.000025

In [35]:
dd = pd.to_csv(r'C:\Users\Access\Downloads\eurusd_.csv', index=False)

In [37]:
dd

In [79]:
dd = pd.read_csv(r'C:\Users\Access\Downloads\eurusd_.csv')

In [80]:
dd

,Gmt time,Open,High,Low,Close,Volume,EMA_100,EMA_50,EMA_21,EMA_13,EMA_7,RSI_10,ATR_10,ATR_30
0,2024-04-01 00:01:39.471,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079285,1.079343,1.079391,1.079412,1.079429,91.912193,0.000006,0.000008
1,2024-04-01 00:01:40.638,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079288,1.079347,1.079396,1.079416,1.079432,91.912193,0.000005,0.000007
2,2024-04-01 00:01:40.794,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079291,1.079350,1.079400,1.079419,1.079434,91.912193,0.000005,0.000007
3,2024-04-01 00:01:41.199,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079294,1.079354,1.079403,1.079422,1.079435,91.912193,0.000004,0.000007
4,2024-04-01 00:01:42.768,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079297,1.079357,1.079407,1.079425,1.079437,91.912193,0.000004,0.000007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9059327,2024-09-27 20:59:58.689,1.11628,1.11628,1.11628,1.11628,1.800000e+06,1.116314,1.116306,1.116292,1.116284,1.116277,46.989565,0.000020,0.000022
9059328,2024-09-27 20:59:58.740,1.11617,1.11617,1.11617,1.11617,4.500000e+06,1.116312,1.116301,1.116281,1.116268,1.116250,28.959480,0.000029,0.000025
9059329,2024-09-27 20:59:58.941,1.11614,1.11614,1.11614,1.11614,9.000000e+05,1.116308,1.116295,1.116268,1.116250,1.116223,25.942987,0.000029,0.000025
9059330,2024-09-27 20:59:59.094,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116306,1.116291,1.116261,1.116241,1.116215,37.918175,0.000031,0.000026
9059331,2024-09-27 20:59:59.145,1.11619,1.11619,1.11619,1.11619,1.800000e+06,1.116304,1.116287,1.116255,1.116234,1.116208,37.918175,0.000028,0.000025

In [64]:
data = dd

# إنشاء عمود لتحديد نوع الصفقة بناءً على تقاطع EMA_13 و EMA_21
data['Signal'] = 0
data['Signal'] = data.apply(lambda row: 1 if row['EMA_13'] > row['EMA_21'] else -1 if row['EMA_13'] < row['EMA_21'] else 0, axis=1)

# عمود لتحديد الصفوف التي يحدث فيها تقاطع (عندما يتغير الاتجاه)
data['Crossover'] = data['Signal'].diff().fillna(0)

# تحديد الصفقات فقط عند التقاطع (عندما يتغير الاتجاه)
data['Trade'] = data.apply(lambda row: 'Buy' if row['Crossover'] == 2 else 'Sell' if row['Crossover'] == -2 else None, axis=1)

# إنشاء أعمدة فارغة للإشارة وهدف السعر ووقف الخسارة
data['Trade Type'] = None
data['Take Profit'] = None
data['Stop Loss'] = None

# حساب هدف السعر ووقف الخسارة فقط عند حدوث التقاطع (إشارة الصفقة)
for i in range(len(data)):
    if data.loc[i, 'Trade'] == 'Buy':
        data.loc[i, 'Trade Type'] = 'Buy'
        data.loc[i, 'Take Profit'] = data.loc[i, 'Open'] + 0.00006
        data.loc[i, 'Stop Loss'] = data.loc[i, 'Open'] - 0.00003
    elif data.loc[i, 'Trade'] == 'Sell':
        data.loc[i, 'Trade Type'] = 'Sell'
        data.loc[i, 'Take Profit'] = data.loc[i, 'Open'] - 0.00006
        data.loc[i, 'Stop Loss'] = data.loc[i, 'Open'] + 0.00003

# حذف الصفوف التي لا تحتوي على صفقة
filtered_trades = data.dropna(subset=['Trade Type'])

In [66]:
data[:60]

,Gmt time,Open,High,Low,Close,Volume,EMA_100,EMA_50,EMA_21,EMA_13,EMA_7,RSI_10,ATR_10,ATR_30,Signal,Take Profit,Stop Loss,Crossover,Trade,Trade Type
0,2024-04-01 00:01:39.471,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079285,1.079343,1.079391,1.079412,1.079429,91.912193,0.000006,0.000008,1,None,None,0.0,None,None
1,2024-04-01 00:01:40.638,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079288,1.079347,1.079396,1.079416,1.079432,91.912193,0.000005,0.000007,1,None,None,0.0,None,None
2,2024-04-01 00:01:40.794,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079291,1.079350,1.079400,1.079419,1.079434,91.912193,0.000005,0.000007,1,None,None,0.0,None,None
3,2024-04-01 00:01:41.199,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079294,1.079354,1.079403,1.079422,1.079435,91.912193,0.000004,0.000007,1,None,None,0.0,None,None
4,2024-04-01 00:01:42.768,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079297,1.079357,1.079407,1.079425,1.079437,91.912193,0.000004,0.000007,1,None,None,0.0,None,None
5,2024-04-01 00:01:43.782,1.07944,1.07944,1.07944,1.07944,9.000000e+05,1.079300,1.079360,1.079410,1.079427,1.079437,91.912193,0.000003,0.000006,1,None,None,0.0,None,None
6,2024-04-01 00:01:43.887,1.07942,1.07942,1.07942,1.07942,9.000000e+05,1.079302,1.079363,1.079411,1.079426,1.079433,55.744535,0.000005,0.000007,1,None,None,0.0,None,None
7,2024-04-01 00:01:44.091,1.07942,1.07942,1.07942,1.07942,9.000000e+05,1.079305,1.079365,1.079412,1.079425,1.079430,55.744535,0.000005,0.000007,1,None,None,0.0,None,None
8,2024-04-01 00:01:45.156,1.07941,1.07941,1.07941,1.07941,9.000000e+05,1.079307,1.079367,1.079411,1.079423,1.079425,44.850282,0.000005,0.000007,1,None,None,0.0,None,None
9,2024-04-01 00:01:45.258,1.07939,1.07939,1.07939,1.07939,9.000000e+05,1.079309,1.079368,1.079409,1.079418,1.079416,31.269963,0.000007,0.000007,1,None,None,0.0,None,None
10,2024-04-01 00:01:47.082,1.07938,1.07938,1.07938,1.07938,9.000000e+05,1.079310,1.079368,1.079407,1.079413,1.079407,26.767234,0.000007,0.000007,1,None,None,0.0,None,None
11,2024-04-01 00:01:47.184,1.07939,1.07939,1.07939,1.07939,9.000000e+05,1.079312,1.079369,1.079405,1.079410,1.079403,36.868023,0.000007,0.000007,1,None,None,0.0,None,None
12,2024-04-01 00:01:48.351,1.07939,1.07939,1.07939,1.07939,9.000000e+05,1.079313,1.079370,1.079404,1.079407,1.079400,36.868023,0.000007,0.000007,1,None,None,0.0,None,None
13,2024-04-01 00:01:48.960,1.07939,1.07939,1.07939,1.07939,9.000000e+05,1.079315,1.079371,1.079403,1.079404,1.079397,36.868023,0.000006,0.000007,1,None,None,0.0,None,None
14,2024-04-01 00:01:49.164,1.07939,1.07939,1.07939,1.07939,9.000000e+05,1.079316,1.079371,1.079401,1.079402,1.079395,36.868023,0.000005,0.000007,1,None,None,0.0,None,None
15,2024-04-01 00:01:49.266,1.07939,1.07939,1.07939,1.07939,9.000000e+05,1.079318,1.079372,1.079400,1.079401,1.079394,36.868023,0.000005,0.000006,1,None,None,0.0,None,None
16,2024-04-01 00:01:50.784,1.07938,1.07938,1.07938,1.07938,9.000000e+05,1.079319,1.079372,1.079399,1.079398,1.079391,29.886993,0.000005,0.000007,-1,1.07932,1.07941,-2.0,Sell,Sell
17,2024-04-01 00:01:53.670,1.07939,1.07939,1.07939,1.07939,9.000000e+05,1.079320,1.079373,1.079398,1.079397,1.079390,42.074084,0.000006,0.000007,-1,None,None,0.0,None,None
18,2024-04-01 00:01:54.180,1.07938,1.07938,1.07938,1.07938,1.800000e+06,1.079321,1.079373,1.079396,1.079394,1.079388,35.263500,0.000006,0.000007,-1,None,None,0.0,None,None
19,2024-04-01 00:01:54.333,1.07937,1.07937,1.07937,1.07937,9.000000e+05,1.079322,1.079373,1.079394,1.079391,1.079383,29.887945,0.000007,0.000007,-1,None,None,0.0,None,None
20,2024-04-01 00:01:54.636,1.07937,1.07937,1.07937,1.07937,9.000000e+05,1.079323,1.079373,1.079392,1.079388,1.079380,29.887945,0.000006,0.000007,-1,None,None,0.0,None,None
21,2024-04-01 00:01:57.009,1.07936,1.07936,1.07936,1.07936,9.000000e+05,1.079324,1.079373,1.079389,1.079384,1.079375,25.154031,0.000006,0.000007,-1,None,None,0.0,None,None
22,2024-04-01 00:01:57.111,1.07934,1.07934,1.07934,1.07934,1.800000e+06,1.079324,1.079371,1.079384,1.079378,1.079366,18.605396,0.000008,0.000007,-1,None,None,0.0,None,None
23,2024-04-01 00:01:57.924,1.07933,1.07933,1.07933,1.07933,9.000000e+05,1.079324,1.079370,1.079379,1.079371,1.079357,16.254449,0.000008,0.000007,-1,None,None,0.0,None,None
24,2024-04-01 00:02:01.626,1.07933,1.07933,1.07933,1.07933,9.000000e+05,1.079325,1.079368,1.079375,1.079365,1.079350,16.254449,0.000007,0.000007,-1,None,None,0.0,None,None
25,2024-04-01 00:02:07.497,1.07933,1.07933,1.07933,1.07933,9.000000e+05,1.079325,1.079367,1.079371,1.079360,1.079345,16.254449,0.000006,0.000007,-1,None,None,0.0,None,None
26,2024-04-01 00:02:09.216,1.07932,1.07932,1.07932,1.07932,9.000000e+05,1.079325,1.079365,1.079366,1.079354,1.079339,13.853250,0.000007,0.000007,-1,None,None,0.0,None,None
27,2024-04-01 00:02:09.471,1.07931,1.07931,1.07931,1.07931,2.250000e+06,1.079324,1.079363,1.079361,1.079348,1.079332,11.899990,0.000007,0.000007,-1,None,None,0.0,None,None
28,2024-04-01 00:02:09.777,1.07931,1.07931,1.07931,1.07931,1.350000e+06,1.079324,1.079361,1.079356,1.079342,1.079326,11.899990,0.000006,0.000007,-1,None,None,0.0,None,None
29,2024-04-01 00:02:09.879,1.07931,1.07931,1.07931,1.07931,1.350000e+06,1.079324,1.079359,1.079352,1.079338,1.079322,11.899990,0.000006,0.000007,-1,None,None,0.0,None,None
30,2024-04-01 00:02:10.386,1.07931,1.07931,1.07931,1.07931,2.250000e+06,1.079323,1.079357,1.079348,1.079334,1.079319,11.899990,0.000005,0.000006,-1,None,None,0.0,None,None
31,2024-04-01 00:02:11.346,1.07931,1.07931,1.07931,1.07931,1.350000e+06,1.079323,1.079355,1.079345,1.079330,1.079317,11.899990,0.000005,0.000006,-1,None,None,0.0,None,None
32,2024-04-01 00:02:13.419,1.07931,1.07931,1.07931,1.07931,9.000000e+05,1.079323,1.079353,1.079342,1.079328,1.079315,11.899990,0.000004,0.000006,-1,None,None,0.0,None,None
33,2024-04-01 00:02:13.521,1.07932,1.07932,1.07932,1.07932,9.000000e+05,1.079323,1.079352,1.079340,1.079326,1.079316,30.372774,0.000005,0.000006,-1,None,None,0.0,None,None
34,2024-04-01 00:02:13.626,1.07933,1.07933,1.07933,1.07933,9.000000e+05,1.079323,1.079351,1.079339,1.079327,1.079320,43.529198,0.000005,0.000006,-1,None,None,0.0,None,None
35,2024-04-01 00:02:28.911,1.07933,1.07933,1.07933,1.07933,9.000000e+05,1.079323,1.079350,1.079338,1.079327,1.079322,43.529198,0.000005,0.000006,-1,None,None,0.0,None,None
36,2024-04-01 00:02:29.115,1.07933,1.07933,1.07933,1.07933,9.000000e+05,1.079323,1.079349,1.079337,1.079328,1.079324,43.529198,0.000004,0.000006,-1,None,None,0.0,None,None
37,2024-04-01 00:02:29.370,1.07934,1.07934,1.07934,1.07934,9.000000e+05,1.079324,1.079349,1.079338,1.079330,1.079328,55.153349,0.000005,0.000006,-1,None,None,0.0,None,None
38,2024-04-01 00:02:29.475,1.07934,1.07934,1.07934,1.07934,9.000000e+05,1.079324,1.079349,1.079338,1.079331,1.079331,55.153349,0.000004,0.000006,-1,None,None,0.0,None,None
39,2024-04-01 00:02:29.628,1.07934,1.07934,1.07934,1.07934,9.000000e+05,1.079324,1.079348,1.079338,1.079332,1.079333,55.153349,0.000004,0.000006,-1,None,None,0.0,None,None
40,2024-04-01 00:02:30.537,1.07934,1.07934,1.07934,1.07934,9.000000e+05,1.079325,1.079348,1.079338,1.079333,1.079335,55.153349,0.000004,0.000005,-1,None,None,0.0,None,None
41,2024-04-01 00:02:30.639,1.07934,1.07934,1.07934,1.07934,9.000000e+05,1.079325,1.079348,1.079338,1.079334,1.079336,55.153349,0.000003,0.000005,-1,None,None,0.0,None,None
42,2024-04-01 00:02:31.350,1.07934,1.07934,1.07934,1.07934,9.000000e+05,1.079325,1.079347,1.079338,1.079335,1.079337,55.153349,0.000003,0.000005,-1,None,None,0.0,None,None
43,2024-04-01 00:02:31.452,1.07933,1.07933,1.07933,1.07933,9.000000e+05,1.079325,1.079347,1.079338,1.079334,1.079335,39.755004,0.000004,0.000005,-1,None,None,0.0,None,None
44,2024-04-01 00:02:31.554,1.07931,1.07931,1.07931,1.07931,9.000000e+05,1.079325,1.079345,1.079335,1.079331,1.079329,24.533682,0.000005,0.000006,-1,None,None,0.0,None,None
45,2024-04-01 00:02:31.860,1.07931,1.07931,1.07931,1.07931,9.000000e+05,1.079325,1.079344,1.079333,1.079328,1.079324,24.533682,0.000005,0.000005,-1,None,None,0.0,None,None
46,2024-04-01 00:02:31.962,1.07931,1.07931,1.07931,1.07931,9.000000e+05,1.079324,1.079343,1.079331,1.079325,1.079321,24.533682,0.000004,0.000005,-1,None,None,0.0,None,None
47,2024-04-01 00:02:32.268,1.07931,1.07931,1.07931,1.07931,9.000000e+05,1.079324,1.079341,1.079329,1.079323,1.079318,24.533682,0.000004,0.000005,-1,None,None,0.0,None,None
48,2024-04-01 00:02:32.421,1.07931,1.07931,1.07931,1.07931,9.000000e+05,1.079324,1.079340,1.079327,1.079321,1.079316,24.533682,0.000003,0.000005,-1,None,None,0.0,None,None
49,2024-04-01 00:02:32.523,1.07930,1.07930,1.07930,1.07930,9.000000e+05,1.079323,1.079338,1.079325,1.079318,1.079312,18.527120,0.000004,0.000005,-1,None,None,0.0,None,None
50,2024-04-01 00:02:32.877,1.07930,1.07930,1.07930,1.07930,9.000000e+05,1.079323,1.079337,1.079322,1.079316,1.079309,18.527120,0.000004,0.000005,-1,None,None,0.0,None,None
51,2024-04-01 00:02:33.234,1.07930,1.07930,1.07930,1.07930,9.000000e+05,1.079322,1.079336,1.079320,1.079313,1.079307,18.527120,0.000003,0.000005,-1,None,None,0.0,None,None
52,2024-04-01 00:02:33.591,1.07932,1.07932,1.07932,1.07932,9.000000e+05,1.079322,1.079335,1.079320,1.079314,1.079310,51.263021,0.000005,0.000005,-1,None,None,0.0,None,None
53,2024-04-01 00:02:33.693,1.07932,1.07932,1.07932,1.07932,9.000000e+05,1.079322,1.079334,1.079320,1.079315,1.079313,51.263021,0.000004,0.000005,-1,None,None,0.0,None,None
54,2024-04-01 00:02:35.463,1.07930,1.07930,1.07930,1.07930,1.350000e+06,1.079322,1.079333,1.079319,1.079313,1.079309,34.265560,0.000006,0.000006,-1,None,None,0.0,None,None
55,2024-04-01 00:02:35.718,1.07930,1.07930,1.07930,1.07930,9.000000e+05,1.079321,1.079332,1.079317,1.079311,1.079307,34.265560,0.000005,0.000005,-1,None,None,0.0,None,None
56,2024-04-01 00:02:35.823,1.07931,1.07931,1.07931,1.07931,9.000000e+05,1.079321,1.079331,1.079316,1.079311,1.079308,45.433881,0.000006,0.000006,-1,None,None,0.0,None,None
57,2024-04-01 00:02:35.925,1.07932,1.07932,1.07932,1.07932,9.000000e+05,1.079321,1.079330,1.079317,1.079312,1.079311,54.099001,0.000006,0.000006,-1,None,None,0.0,None,None
58,2024-04-01 00:02:38.706,1.07932,1.07932,1.07932,1.07932,9.000000e+05,1.079321,1.079330,1.079317,1.079313,1.079313,54.099001,0.000006,0.000006,-1,None,None,0.0,None,None
59,2024-04-01 00:02:38.961,1.07933,1.07933,1.07933,1.07933,9.000000e+05,1.079321,1.079330,1.079318,1.079316,1.079317,61.622837,0.000006,0.000006,-1,None,None,0.0,None,None

In [77]:
import pandas as pd

data = dd

# إنشاء عمود لتحديد نوع الصفقة بناءً على تقاطع EMA_13 و EMA_21
data['Signal'] = 0
data['Signal'] = data.apply(lambda row: 1 if row['EMA_13'] > row['EMA_21'] else -1 if row['EMA_13'] < row['EMA_21'] else 0, axis=1)

# تحديد الصفوف التي يحدث فيها تقاطع (عندما يتغير الاتجاه)
data['Crossover'] = data['Signal'].diff().fillna(0)

# إنشاء أعمدة فارغة للإشارة وهدف السعر ووقف الخسارة
data['Trade Type'] = None
data['Take Profit'] = None
data['Stop Loss'] = None

# حساب هدف السعر ووقف الخسارة فقط عند حدوث التقاطع
for i in range(len(data)):
    if data.loc[i, 'Crossover'] == 2:  # تقاطع صعودي (شراء)
        data.loc[i, 'Trade Type'] = 'Buy'
        data.loc[i, 'Take Profit'] = data.loc[i, 'Open'] + 0.00006
        data.loc[i, 'Stop Loss'] = data.loc[i, 'Open'] - 0.00003
    elif data.loc[i, 'Crossover'] == -2:  # تقاطع هبوطي (بيع)
        data.loc[i, 'Trade Type'] = 'Sell'
        data.loc[i, 'Take Profit'] = data.loc[i, 'Open'] - 0.00006
        data.loc[i, 'Stop Loss'] = data.loc[i, 'Open'] + 0.00003

# حذف الصفوف التي لا تحتوي على صفقة أو كانت الصفقة خاسرة
filtered_trades = data.dropna(subset=['Trade Type'])

# إضافة عمود لتحديد إذا كانت الصفقة رابحة أو خاسرة
filtered_trades['Is Winning Trade'] = filtered_trades.apply(
    lambda row: True if (row['Trade Type'] == 'Buy' and row['High'] >= row['Take Profit'] and row['Low'] > row['Stop Loss']) or
                    (row['Trade Type'] == 'Sell' and row['Low'] <= row['Take Profit'] and row['High'] < row['Stop Loss']) else False,
    axis=1
)

# الاحتفاظ بالصفقات الرابحة فقط
winning_trades = filtered_trades[filtered_trades['Is Winning Trade']]


print("تمت إضافة الصفقات الرابحة فقط وحفظها في ملف winning_trades.csv.")

تمت إضافة الصفقات الرابحة فقط وحفظها في ملف winning_trades.csv.

C:\Users\Access\AppData\Local\Temp\ipykernel_22060\3941320247.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trades['Is Winning Trade'] = filtered_trades.apply(

In [78]:
winning_trades

Empty DataFrame
Columns: [Gmt time, Open, High, Low, Close, Volume, EMA_100, EMA_50, EMA_21, EMA_13, EMA_7, RSI_10, ATR_10, ATR_30, Signal, Crossover, Trade Type, Take Profit, Stop Loss, Is Winning Trade]
Index: []

In [81]:
import pandas as pd

data = dd
tp = 0.00006
sl = 0.00003

# إنشاء عمود لتحديد نوع الصفقة بناءً على تقاطع EMA_13 و EMA_21
data['Signal'] = 0
data['Signal'] = data.apply(lambda row: 1 if row['EMA_13'] > row['EMA_21'] else -1 if row['EMA_13'] < row['EMA_21'] else 0, axis=1)

# تحديد الصفوف التي يحدث فيها تقاطع (عندما يتغير الاتجاه)
data['Crossover'] = data['Signal'].diff().fillna(0)

# إنشاء أعمدة فارغة للإشارة وهدف السعر ووقف الخسارة
data['Trade Type'] = None
data['Take Profit'] = None
data['Stop Loss'] = None

# حساب هدف السعر ووقف الخسارة فقط عند حدوث التقاطع
for i in range(len(data)):
    if data.loc[i, 'Crossover'] == 2:  # تقاطع صعودي (شراء)
        data.loc[i, 'Trade Type'] = 'Buy'
        data.loc[i, 'Take Profit'] = data.loc[i, 'Open'] + tp
        data.loc[i, 'Stop Loss'] = data.loc[i, 'Open'] - sl
    elif data.loc[i, 'Crossover'] == -2:  # تقاطع هبوطي (بيع)
        data.loc[i, 'Trade Type'] = 'Sell'
        data.loc[i, 'Take Profit'] = data.loc[i, 'Open'] - tp
        data.loc[i, 'Stop Loss'] = data.loc[i, 'Open'] + sl

# حذف الصفوف التي لا تحتوي على صفقة أو كانت الصفقة خاسرة
filtered_trades = data.dropna(subset=['Trade Type'])

# إضافة عمود لتحديد إذا كانت الصفقة رابحة أو خاسرة
filtered_trades.loc[:, 'Is Winning Trade'] = filtered_trades.apply(
    lambda row: True if (row['Trade Type'] == 'Buy' and row['High'] >= row['Take Profit'] and row['Low'] > row['Stop Loss']) or
                    (row['Trade Type'] == 'Sell' and row['Low'] <= row['Take Profit'] and row['High'] < row['Stop Loss']) else False,
    axis=1
)

# الاحتفاظ بالصفقات الرابحة فقط
winning_trades = filtered_trades[filtered_trades['Is Winning Trade']]



print("تمت إضافة الصفقات الرابحة فقط وحفظها في ملف winning_trades.csv.")

تمت إضافة الصفقات الرابحة فقط وحفظها في ملف winning_trades.csv.

C:\Users\Access\AppData\Local\Temp\ipykernel_22060\3813903961.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_trades.loc[:, 'Is Winning Trade'] = filtered_trades.apply(