In [1]:
import pandas as pd
df= pd.read_csv(r"C:\Users\Access\Documents\AI ROBOT\XAUUSD_Candlestick_1_M_BID_2020-1-1_2024-12-31.csv")

In [26]:
import pandas as pd
dff= pd.read_csv(r"C:\Users\Access\Documents\AI ROBOT\XAUUSD_Candlestick_1_M_BID_2020-1-1_2024-12-31.csv")

In [30]:
# نقل عمود التاريخ
df['Gmt time'] = dff['Gmt time']

In [32]:
columns_order = ['Gmt time', 'Open', 'High','Low','Close','buy_trade','tp_buy','sl_buy','sell_trade','tp_sell','sl_sell','trade_type','trade_result']  # الترتيب الجديد للأعمدة
df = df[columns_order]  # إعادة ترتيب الأعمدة

In [33]:
df

,Gmt time,Open,High,Low,Close,buy_trade,tp_buy,sl_buy,sell_trade,tp_sell,sl_sell,trade_type,trade_result
0,2020-01-01 00:00:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
1,2020-01-01 00:01:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
2,2020-01-01 00:02:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
3,2020-01-01 00:03:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
4,2020-01-01 00:04:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2373724,2024-12-31 23:55:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0
2373725,2024-12-31 23:56:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0
2373726,2024-12-31 23:57:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0
2373727,2024-12-31 23:58:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0
2373728,2024-12-31 23:59:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0

In [37]:
df.value_counts('buy_trade')

buy_trade
0    2312476
1      61253
Name: count, dtype: int64

In [6]:
df

                         Open      High       Low     Close
Gmt time
2020-01-01 00:00:00  1516.915  1516.915  1516.915  1516.915
2020-01-01 00:01:00  1516.915  1516.915  1516.915  1516.915
2020-01-01 00:02:00  1516.915  1516.915  1516.915  1516.915
2020-01-01 00:03:00  1516.915  1516.915  1516.915  1516.915
2020-01-01 00:04:00  1516.915  1516.915  1516.915  1516.915
...                       ...       ...       ...       ...
2024-12-31 23:55:00  2624.255  2624.255  2624.255  2624.255
2024-12-31 23:56:00  2624.255  2624.255  2624.255  2624.255
2024-12-31 23:57:00  2624.255  2624.255  2624.255  2624.255
2024-12-31 23:58:00  2624.255  2624.255  2624.255  2624.255
2024-12-31 23:59:00  2624.255  2624.255  2624.255  2624.255

[2373729 rows x 4 columns]

In [11]:
import pandas as pd

# تعريف دالة التحقق من الشمعة الكبيرة مقارنة بالظلال
def is_large_body(candle):
    body = abs(candle['Open'] - candle['Close'])
    lower_shadow = abs(candle['Low'] - min(candle['Open'], candle['Close']))
    upper_shadow = abs(candle['High'] - max(candle['Open'], candle['Close']))
    return body > (lower_shadow + upper_shadow)  # الجسم أكبر من مجموع الظلال

# تعريف دالة التحقق من شمعة الهامر أو الدوجي
def is_hammer_or_doji(candle):
    body = abs(candle['Open'] - candle['Close'])
    lower_shadow = abs(candle['Low'] - min(candle['Open'], candle['Close']))
    upper_shadow = abs(candle['High'] - max(candle['Open'], candle['Close']))
    is_hammer = lower_shadow > 2 * body and upper_shadow < body
    is_doji = body <= (0.1 * (candle['High'] - candle['Low']))  # جسم صغير جدًا
    return is_hammer or is_doji

# دالة حساب صفقة شراء
def calculate_buy_trade(row, df):
    idx = row.name
    if idx < 1:
        return 0, None, None
    first_candle = df.iloc[idx - 1]
    second_candle = row
    if is_large_body(first_candle) and first_candle['Close'] < first_candle['Open'] and is_hammer_or_doji(second_candle):
        take_profit = first_candle['Open']
        stop_loss = second_candle['Low']
        return 1, take_profit, stop_loss
    return 0, None, None

# دالة حساب صفقة بيع
def calculate_sell_trade(row, df):
    idx = row.name
    if idx < 1:
        return 0, None, None
    first_candle = df.iloc[idx - 1]
    second_candle = row
    if is_large_body(first_candle) and first_candle['Close'] > first_candle['Open'] and is_hammer_or_doji(second_candle):
        take_profit = first_candle['Open']
        stop_loss = second_candle['High']
        return 1, take_profit, stop_loss
    return 0, None, None

# تطبيق الأعمدة الجديدة على DataFrame
df['buy_trade'], df['tp_buy'], df['sl_buy'] = zip(*df.apply(lambda row: calculate_buy_trade(row, df), axis=1))
df['sell_trade'], df['tp_sell'], df['sl_sell'] = zip(*df.apply(lambda row: calculate_sell_trade(row, df), axis=1))

# تحديد نوع الصفقة
def determine_trade_type(row):
    if row['buy_trade'] == 1:
        return 1
    elif row['sell_trade'] == 1:
        return -1
    else:
        return 0

df['trade_type'] = df.apply(determine_trade_type, axis=1)

# دالة لتحديد حالة الصفقة (رابحة 1، خاسرة -1، أو لا توجد صفقة 0)
def determine_trade_result(row):
    if row['trade_type'] == 1:  # صفقة شراء
        if row['High'] >= row['tp_buy']:
            return 1  # رابحة
        elif row['Low'] <= row['sl_buy']:
            return -1  # خاسرة
    elif row['trade_type'] == -1:  # صفقة بيع
        if row['Low'] <= row['tp_sell']:
            return 1  # رابحة
        elif row['High'] >= row['sl_sell']:
            return -1  # خاسرة
    return 0  # لا توجد صفقة

# إضافة العمود الجديد إلى DataFrame
df['trade_result'] = df.apply(determine_trade_result, axis=1)

# عرض DataFrame
print(df)

             Open      High       Low     Close  buy_trade  tp_buy  sl_buy  \
0        1516.915  1516.915  1516.915  1516.915          0     NaN     NaN
1        1516.915  1516.915  1516.915  1516.915          0     NaN     NaN
2        1516.915  1516.915  1516.915  1516.915          0     NaN     NaN
3        1516.915  1516.915  1516.915  1516.915          0     NaN     NaN
4        1516.915  1516.915  1516.915  1516.915          0     NaN     NaN
...           ...       ...       ...       ...        ...     ...     ...
2373724  2624.255  2624.255  2624.255  2624.255          0     NaN     NaN
2373725  2624.255  2624.255  2624.255  2624.255          0     NaN     NaN
2373726  2624.255  2624.255  2624.255  2624.255          0     NaN     NaN
2373727  2624.255  2624.255  2624.255  2624.255          0     NaN     NaN
2373728  2624.255  2624.255  2624.255  2624.255          0     NaN     NaN

         sell_trade  tp_sell  sl_sell  trade_type  trade_result
0                 0      NaN      NaN           0             0
1                 0      NaN      NaN           0             0
2                 0      NaN      NaN           0             0
3                 0      NaN      NaN           0             0
4                 0      NaN      NaN           0             0
...             ...      ...      ...         ...           ...
2373724           0      NaN      NaN           0             0
2373725           0      NaN      NaN           0             0
2373726           0      NaN      NaN           0             0
2373727           0      NaN      NaN           0             0
2373728           0      NaN      NaN           0             0

[2373729 rows x 12 columns]

In [11]:
import pandas as pd
الاصلي
# تعريف دالة التحقق من الشمعة الكبيرة مقارنة بالظلال
def is_large_body(candle):
    body = abs(candle['Open'] - candle['Close'])
    lower_shadow = abs(candle['Low'] - min(candle['Open'], candle['Close']))
    upper_shadow = abs(candle['High'] - max(candle['Open'], candle['Close']))
    return body > (lower_shadow + upper_shadow)  # الجسم أكبر من مجموع الظلال

# تعريف دالة التحقق من شمعة الهامر أو الدوجي
def is_hammer_or_doji(candle):
    body = abs(candle['Open'] - candle['Close'])
    lower_shadow = abs(candle['Low'] - min(candle['Open'], candle['Close']))
    upper_shadow = abs(candle['High'] - max(candle['Open'], candle['Close']))
    is_hammer = lower_shadow > 2 * body and upper_shadow < body
    is_doji = body <= (0.1 * (candle['High'] - candle['Low']))  # جسم صغير جدًا
    return is_hammer or is_doji

# دالة حساب صفقة شراء
def calculate_buy_trade(row, df):
    idx = row.name
    if idx < 1:
        return 0, None, None
    first_candle = df.iloc[idx - 1]
    second_candle = row
    if is_large_body(first_candle) and first_candle['Close'] < first_candle['Open'] and is_hammer_or_doji(second_candle):
        take_profit = first_candle['Open']
        stop_loss = second_candle['Low']
        return 1, take_profit, stop_loss
    return 0, None, None

# دالة حساب صفقة بيع
def calculate_sell_trade(row, df):
    idx = row.name
    if idx < 1:
        return 0, None, None
    first_candle = df.iloc[idx - 1]
    second_candle = row
    if is_large_body(first_candle) and first_candle['Close'] > first_candle['Open'] and is_hammer_or_doji(second_candle):
        take_profit = first_candle['Open']
        stop_loss = second_candle['High']
        return 1, take_profit, stop_loss
    return 0, None, None

# تطبيق الأعمدة الجديدة على DataFrame
df['buy_trade'], df['tp_buy'], df['sl_buy'] = zip(*df.apply(lambda row: calculate_buy_trade(row, df), axis=1))
df['sell_trade'], df['tp_sell'], df['sl_sell'] = zip(*df.apply(lambda row: calculate_sell_trade(row, df), axis=1))

# تحديد نوع الصفقة
def determine_trade_type(row):
    if row['buy_trade'] == 1:
        return 1
    elif row['sell_trade'] == 1:
        return -1
    else:
        return 0

df['trade_type'] = df.apply(determine_trade_type, axis=1)

# دالة لتحديد حالة الصفقة (رابحة 1، خاسرة -1، أو لا توجد صفقة 0)
def determine_trade_result(row):
    if row['trade_type'] == 1:  # صفقة شراء
        if row['High'] >= row['tp_buy']:
            return 1  # رابحة
        elif row['Low'] <= row['sl_buy']:
            return -1  # خاسرة
    elif row['trade_type'] == -1:  # صفقة بيع
        if row['Low'] <= row['tp_sell']:
            return 1  # رابحة
        elif row['High'] >= row['sl_sell']:
            return -1  # خاسرة
    return 0  # لا توجد صفقة

# إضافة العمود الجديد إلى DataFrame
df['trade_result'] = df.apply(determine_trade_result, axis=1)

# عرض DataFrame
print(df)

             Open      High       Low     Close  buy_trade  tp_buy  sl_buy  \
0        1516.915  1516.915  1516.915  1516.915          0     NaN     NaN
1        1516.915  1516.915  1516.915  1516.915          0     NaN     NaN
2        1516.915  1516.915  1516.915  1516.915          0     NaN     NaN
3        1516.915  1516.915  1516.915  1516.915          0     NaN     NaN
4        1516.915  1516.915  1516.915  1516.915          0     NaN     NaN
...           ...       ...       ...       ...        ...     ...     ...
2373724  2624.255  2624.255  2624.255  2624.255          0     NaN     NaN
2373725  2624.255  2624.255  2624.255  2624.255          0     NaN     NaN
2373726  2624.255  2624.255  2624.255  2624.255          0     NaN     NaN
2373727  2624.255  2624.255  2624.255  2624.255          0     NaN     NaN
2373728  2624.255  2624.255  2624.255  2624.255          0     NaN     NaN

         sell_trade  tp_sell  sl_sell  trade_type  trade_result
0                 0      NaN      NaN           0             0
1                 0      NaN      NaN           0             0
2                 0      NaN      NaN           0             0
3                 0      NaN      NaN           0             0
4                 0      NaN      NaN           0             0
...             ...      ...      ...         ...           ...
2373724           0      NaN      NaN           0             0
2373725           0      NaN      NaN           0             0
2373726           0      NaN      NaN           0             0
2373727           0      NaN      NaN           0             0
2373728           0      NaN      NaN           0             0

[2373729 rows x 12 columns]

In [14]:
df

,Open,High,Low,Close,buy_trade,tp_buy,sl_buy,sell_trade,tp_sell,sl_sell,trade_type,trade_result
0,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
1,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
2,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
3,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
4,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2373724,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0
2373725,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0
2373726,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0
2373727,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0
2373728,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0

In [9]:
df = df.reset_index(drop=True)

In [45]:
df

,Gmt time,Open,High,Low,Close,buy_trade,tp_buy,sl_buy,sell_trade,tp_sell,sl_sell,trade_type,trade_result
0,2020-01-01 00:00:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
1,2020-01-01 00:01:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
2,2020-01-01 00:02:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
3,2020-01-01 00:03:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
4,2020-01-01 00:04:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2373724,2024-12-31 23:55:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0
2373725,2024-12-31 23:56:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0
2373726,2024-12-31 23:57:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0
2373727,2024-12-31 23:58:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0
2373728,2024-12-31 23:59:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0

In [23]:
x= df.value_counts('buy_trade')
y= df.value_counts('sell_trade')
print(x,y)

buy_trade
0    2312476
1      61253
Name: count, dtype: int64 sell_trade
0    2312268
1      61461
Name: count, dtype: int64

In [47]:
# التأكد من أن عمود Date موجود ومحول إلى datetime
df['Gmt time'] = pd.to_datetime(df['Gmt time'])

# حساب عدد الصفقات لكل يوم
daily_trades = df.groupby(df['Gmt time'].dt.date)['trade_type'].apply(lambda x: (x != 0).sum())

# حساب متوسط عدد الصفقات يوميًا
average_trades_per_day = daily_trades.mean()

print(f"متوسط عدد الصفقات لكل يوم: {average_trades_per_day}")

متوسط عدد الصفقات لكل يوم: 69.40837104072398

In [40]:
dd = df

In [44]:
# التأكد من وجود عمود تاريخ
if 'Gmt time' not in df.columns:
    raise ValueError("تأكد من أن DataFrame يحتوي على عمود باسم 'Date' يحتوي على التاريخ.")

# تحويل عمود التاريخ إلى تنسيق datetime إذا لم يكن كذلك
df['Gmt time'] = pd.to_datetime(df['Gmt time'])

# حساب عدد الصفقات اليومية
daily_trades = df.groupby('Gmt time')['trade_type'].count()

# حساب عدد الصفقات الرابحة والخاسرة يوميًا
daily_winning_trades = df[df['trade_result'] == 1].groupby('Gmt time')['trade_result'].count()
daily_losing_trades = df[df['trade_result'] == -1].groupby('Gmt time')['trade_result'].count()

# متوسط عدد الصفقات اليومية
average_trades_per_day = daily_trades.mean()

# متوسط عدد الصفقات الرابحة اليومية
average_winning_trades_per_day = daily_winning_trades.mean()

# متوسط عدد الصفقات الخاسرة اليومية
average_losing_trades_per_day = daily_losing_trades.mean()

# أقل يوم كان به صفقات
min_trades_day = daily_trades.idxmin()
min_trades_count = daily_trades.min()

# أعلى يوم كان به صفقات
max_trades_day = daily_trades.idxmax()
max_trades_count = daily_trades.max()

# أكثر يوم كان به صفقات خاسرة
most_losing_trades_day = daily_losing_trades.idxmax()
most_losing_trades_count = daily_losing_trades.max()

# أقل يوم كان به صفقات خاسرة
least_losing_trades_day = daily_losing_trades.idxmin()
least_losing_trades_count = daily_losing_trades.min()

# عرض النتائج
print(f"متوسط عدد الصفقات اليومية: {average_trades_per_day:.2f}")
print(f"متوسط عدد الصفقات الرابحة اليومية: {average_winning_trades_per_day:.2f}")
print(f"متوسط عدد الصفقات الخاسرة اليومية: {average_losing_trades_per_day:.2f}")
print(f"أقل يوم كان به صفقات: {min_trades_day} ({min_trades_count} صفقات)")
print(f"أعلى يوم كان به صفقات: {max_trades_day} ({max_trades_count} صفقات)")
print(f"أكثر يوم كان به صفقات خاسرة: {most_losing_trades_day} ({most_losing_trades_count} صفقات)")
print(f"أقل يوم كان به صفقات خاسرة: {least_losing_trades_day} ({least_losing_trades_count} صفقات)")

متوسط عدد الصفقات اليومية: 1.00
متوسط عدد الصفقات الرابحة اليومية: 1.00
متوسط عدد الصفقات الخاسرة اليومية: 1.00
أقل يوم كان به صفقات: 2020-01-01 00:00:00 (1 صفقات)
أعلى يوم كان به صفقات: 2020-01-01 00:00:00 (1 صفقات)
أكثر يوم كان به صفقات خاسرة: 2020-01-01 23:02:00 (1 صفقات)
أقل يوم كان به صفقات خاسرة: 2020-01-01 23:02:00 (1 صفقات)

In [46]:
# التحقق من وجود صفقات شراء أو بيع
print(df['trade_type'].value_counts())  # تحقق من توزيع أنواع الصفقات

# التحقق من وجود صفقات رابحة أو خاسرة
print(df['trade_result'].value_counts())  # تحقق من النتائج الرابحة والخاسرة

trade_type
 0    2251015
-1      61461
 1      61253
Name: count, dtype: int64
trade_result
 0    2251015
-1      99207
 1      23507
Name: count, dtype: int64

In [61]:
import pandas as pd

# التأكد من وجود عمود تاريخ
if 'Gmt time' not in df.columns:
    raise ValueError("تأكد من أن DataFrame يحتوي على عمود باسم 'Gmt time' يحتوي على التاريخ.")

# تحويل عمود التاريخ إلى تنسيق datetime إذا لم يكن كذلك
df['Gmt time'] = pd.to_datetime(df['Gmt time'])

# استخراج التاريخ فقط (بدون الوقت)
df['Gmt date'] = df['Gmt time'].dt.date

# حساب عدد الصفقات اليومية
daily_trades = df.groupby('Gmt date')['trade_type'].count()

# حساب عدد الصفقات الرابحة والخاسرة يوميًا
daily_winning_trades = df[df['trade_result'] == 1].groupby('Gmt date')['trade_result'].count()
daily_losing_trades = df[df['trade_result'] == -1].groupby('Gmt date')['trade_result'].count()

# متوسط عدد الصفقات اليومية
average_trades_per_day = daily_trades.mean()

# متوسط عدد الصفقات الرابحة اليومية
average_winning_trades_per_day = daily_winning_trades.mean()

# متوسط عدد الصفقات الخاسرة اليومية
average_losing_trades_per_day = daily_losing_trades.mean()

# أقل يوم كان به صفقات
min_trades_day = daily_trades.idxmin()
min_trades_count = daily_trades.min()

# أعلى يوم كان به صفقات
max_trades_day = daily_trades.idxmax()
max_trades_count = daily_trades.max()

# أكثر يوم كان به صفقات خاسرة
most_losing_trades_day = daily_losing_trades.idxmax()
most_losing_trades_count = daily_losing_trades.max()

# أقل يوم كان به صفقات خاسرة
least_losing_trades_day = daily_losing_trades.idxmin()
least_losing_trades_count = daily_losing_trades.min()

# عرض النتائج
print(f"متوسط عدد الصفقات اليومية: {average_trades_per_day:.2f}")
print(f"متوسط عدد الصفقات الرابحة اليومية: {average_winning_trades_per_day:.2f}")
print(f"متوسط عدد الصفقات الخاسرة اليومية: {average_losing_trades_per_day:.2f}")
print(f"أقل يوم كان به صفقات: {min_trades_day} ({min_trades_count} صفقات)")
print(f"أعلى يوم كان به صفقات: {max_trades_day} ({max_trades_count} صفقات)")
print(f"أكثر يوم كان به صفقات خاسرة: {most_losing_trades_day} ({most_losing_trades_count} صفقات)")
print(f"أقل يوم كان به صفقات خاسرة: {least_losing_trades_day} ({least_losing_trades_count} صفقات)")

ValueError: attempt to get argmax of an empty sequence

In [53]:
df.value_counts(['trade_result'])

trade_result
 0              2251015
-1                99207
 1                23507
Name: count, dtype: int64

In [ ]:
import pandas as pd

# تعريف دالة التحقق من الشمعة الكبيرة مقارنة بالظلال
def is_large_body(candle):
    body = abs(candle['Open'] - candle['Close'])
    lower_shadow = abs(candle['Low'] - min(candle['Open'], candle['Close']))
    upper_shadow = abs(candle['High'] - max(candle['Open'], candle['Close']))
    return body > (lower_shadow + upper_shadow)  # الجسم أكبر من مجموع الظلال

# تعريف دالة التحقق من شمعة الهامر أو الدوجي
def is_hammer_or_doji(candle):
    body = abs(candle['Open'] - candle['Close'])
    lower_shadow = abs(candle['Low'] - min(candle['Open'], candle['Close']))
    upper_shadow = abs(candle['High'] - max(candle['Open'], candle['Close']))
    is_hammer = lower_shadow > 2 * body and upper_shadow < body
    is_doji = body <= (0.1 * (candle['High'] - candle['Low']))  # جسم صغير جدًا
    return is_hammer or is_doji

# دالة حساب صفقة شراء
def calculate_buy_trade(row, df):
    idx = row.name
    if idx < 1:
        return 0, None, None
    first_candle = df.iloc[idx - 1]
    second_candle = row
    if is_large_body(first_candle) and first_candle['Close'] < first_candle['Open'] and is_hammer_or_doji(second_candle):
        take_profit = first_candle['Open']
        stop_loss = second_candle['Low'] - (abs(second_candle['Low'] - first_candle['Open']) * 2)  # وقف خسارة مضاعف
        return 1, take_profit, stop_loss
    return 0, None, None

# دالة حساب صفقة بيع
def calculate_sell_trade(row, df):
    idx = row.name
    if idx < 1:
        return 0, None, None
    first_candle = df.iloc[idx - 1]
    second_candle = row
    if is_large_body(first_candle) and first_candle['Close'] > first_candle['Open'] and is_hammer_or_doji(second_candle):
        take_profit = first_candle['Open']
        stop_loss = second_candle['High'] + (abs(second_candle['High'] - first_candle['Open']) * 2)  # وقف خسارة مضاعف
        return 1, take_profit, stop_loss
    return 0, None, None

# تطبيق الأعمدة الجديدة على DataFrame
df['buy_trade'], df['tp_buy'], df['sl_buy'] = zip(*df.apply(lambda row: calculate_buy_trade(row, df), axis=1))
df['sell_trade'], df['tp_sell'], df['sl_sell'] = zip(*df.apply(lambda row: calculate_sell_trade(row, df), axis=1))

# تحديد نوع الصفقة
def determine_trade_type(row):
    if row['buy_trade'] == 1:
        return 1  # صفقة شراء
    elif row['sell_trade'] == 1:
        return -1  # صفقة بيع
    else:
        return 0  # لا توجد صفقة

df['trade_type'] = df.apply(determine_trade_type, axis=1)

# دالة لتحديد حالة الصفقة (رابحة 1، خاسرة -1، أو لا توجد صفقة 0)
def determine_trade_result(row):
    if row['trade_type'] == 1:  # صفقة شراء
        if row['High'] >= row['tp_buy']:  # تحقق الهدف
            return 1  # رابحة
        elif row['Low'] <= row['sl_buy']:  # تحقق وقف الخسارة
            return -1  # خاسرة
    elif row['trade_type'] == -1:  # صفقة بيع
        if row['Low'] <= row['tp_sell']:  # تحقق الهدف
            return 1  # رابحة
        elif row['High'] >= row['sl_sell']:  # تحقق وقف الخسارة
            return -1  # خاسرة
    return 0  # لا توجد صفقة

# إضافة العمود الجديد إلى DataFrame
df['trade_result'] = df.apply(determine_trade_result, axis=1)

In [55]:
df

,Gmt time,Open,High,Low,Close,buy_trade,tp_buy,sl_buy,sell_trade,tp_sell,sl_sell,trade_type,trade_result,Gmt date
0,2020-01-01 00:00:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0,2020-01-01
1,2020-01-01 00:01:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0,2020-01-01
2,2020-01-01 00:02:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0,2020-01-01
3,2020-01-01 00:03:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0,2020-01-01
4,2020-01-01 00:04:00,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,0,NaN,NaN,0,0,2020-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2373724,2024-12-31 23:55:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0,2024-12-31
2373725,2024-12-31 23:56:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0,2024-12-31
2373726,2024-12-31 23:57:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0,2024-12-31
2373727,2024-12-31 23:58:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0,2024-12-31
2373728,2024-12-31 23:59:00,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,0,NaN,NaN,0,0,2024-12-31

In [57]:
mm = df[['Open', 'High', 'Low', 'Close', 'trade_type', 'tp_buy', 'sl_buy', 'tp_sell', 'sl_sell', 'trade_result']]

In [58]:
mm

,Open,High,Low,Close,trade_type,tp_buy,sl_buy,tp_sell,sl_sell,trade_result
0,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,NaN,NaN,0
1,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,NaN,NaN,0
2,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,NaN,NaN,0
3,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,NaN,NaN,0
4,1516.915,1516.915,1516.915,1516.915,0,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
2373724,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,NaN,NaN,0
2373725,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,NaN,NaN,0
2373726,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,NaN,NaN,0
2373727,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,NaN,NaN,0
2373728,2624.255,2624.255,2624.255,2624.255,0,NaN,NaN,NaN,NaN,0

In [60]:
df.value_counts(['trade_result'])

trade_result
0               2350222
1                 23507
Name: count, dtype: int64