In [1]:
import pandas as pd

# قراءة الملفات
df_shooting = pd.read_csv(r"C:\Users\Access\Documents\AI\XAUUSD_5m_trade_result_shooting.csv")
df_hammer = pd.read_csv(r"C:\Users\Access\Documents\AI\XAUUSD_5m_trade_result_hammer.csv")

# دمج DataFrame‌ين
df_combined = pd.concat([df_shooting, df_hammer])

# تجميع البيانات بناءً على عمود trade_type وجمع القيم في الأعمدة المطلوبة
df_merged = df_combined.groupby('Unnamed: 0', as_index=False).agg({
    'Losing Trades': 'sum',
    'Winning Trades': 'sum',
    'Total Trades': 'sum'
})

# عرض النتيجة
print(df_merged)

      Unnamed: 0  Losing Trades  Winning Trades  Total Trades
0     2020-01-02              6               8            14
1     2020-01-03              8               7            15
2     2020-01-06              2               5             7
3     2020-01-07             10              11            21
4     2020-01-08             14               6            20
...          ...            ...             ...           ...
1299  2024-12-25              0               1             1
1300  2024-12-26              5               8            13
1301  2024-12-27              9              11            20
1302  2024-12-30             11              15            26
1303  2024-12-31              9              12            21

[1304 rows x 4 columns]

In [2]:
# تغيير اسم العمود الأول من 'Unnamed: 0' إلى اسم جديد (مثلاً 'ID')
df_merged.rename(columns={'Unnamed: 0': 'Date'}, inplace=True)

In [3]:
df_merged

            Date  Losing Trades  Winning Trades  Total Trades
0     2020-01-02              6               8            14
1     2020-01-03              8               7            15
2     2020-01-06              2               5             7
3     2020-01-07             10              11            21
4     2020-01-08             14               6            20
...          ...            ...             ...           ...
1299  2024-12-25              0               1             1
1300  2024-12-26              5               8            13
1301  2024-12-27              9              11            20
1302  2024-12-30             11              15            26
1303  2024-12-31              9              12            21

[1304 rows x 4 columns]

In [4]:
df_merged.describe().round(1).drop(['count','std'])

      Losing Trades  Winning Trades  Total Trades
mean            7.3             7.2          14.4
min             0.0             0.0           0.0
25%             5.0             5.0          12.0
50%             7.0             7.0          15.0
75%             9.0             9.0          18.0
max            18.0            19.0          27.0

In [7]:
daily_trades = df_merged

# حساب التكرارات والنسب المئوية
total_counts = daily_trades['Total Trades'].value_counts()
total_percent = daily_trades['Total Trades'].value_counts(normalize=True) * 100

# دمج النتائج في DataFrame
result_df = pd.DataFrame({
    'Count': total_counts,
    'Percentage (%)': total_percent.round(1)
})

result_df['Percentage (%)'] = result_df['Percentage (%)'].astype(str) + '%'

# طباعة النتيجة
print(result_df)

              Count Percentage (%)
Total Trades
15              127           9.7%
16              111           8.5%
14              110           8.4%
17              110           8.4%
12               95           7.3%
13               93           7.1%
18               88           6.7%
11               81           6.2%
19               72           5.5%
20               66           5.1%
21               51           3.9%
10               51           3.9%
8                44           3.4%
9                39           3.0%
7                25           1.9%
22               22           1.7%
6                21           1.6%
0                17           1.3%
23               14           1.1%
24               12           0.9%
5                11           0.8%
3                10           0.8%
26                8           0.6%
4                 7           0.5%
1                 7           0.5%
25                6           0.5%
2                 4           0.3%
27                2           0.2%

In [8]:
df_merged.to_csv(r"C:\Users\Access\Documents\AI\XAUUSD_5m_trade_result.csv", index=True)